@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;500&display=swap');

$base-color: #503e82;
$contrast-color: #e66465;
$active: #8a2be2;
$highlight: #2e8b57;
$main-background: #fff;
$app-background: #000;

$menu-font: "Ubuntu", sans-serif;
$rules-font: "Roboto", sans-serif;